.aboutUs{
   display: flex; 
   flex-direction: column;
   width: 90%;
   @media screen and (max-width: 1100px) {
    width: 100%;
   }


   .top-aboutUs{
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
    @media screen and (max-width: 550px) {
        display: none;
       }


    .left-top-aboutUs{
        display: flex;
        flex-direction: column;
        width: 50%;

        .title-aboutUs{
            font-size: 3.5rem;
            margin: 0;
            padding: 0;
            color: #035397;
            @media screen and (max-width: 900px) {
                font-size: 3rem;
               }
               @media screen and (max-width: 768px) {
                font-size: 2.5rem;
               }
               @media screen and (max-width: 690px) {
                font-size: 2rem;
               }


               
        }
        .description-aboutUs{
            color: #5089C6;
            font-size: 1.5rem;
             @media screen and (max-width: 768px) {
                font-size: 1.2rem;
               }
               @media screen and (max-width: 690px) {
                font-size: 1.2rem;
               }

        }
    }
    .right-top-aboutUs{
        


        ul{

            li{
                color: #035397;
                font-size: 1.5rem;
                @media screen and (max-width: 768px) {
                    font-size: 1.5rem;
                   }
                   @media screen and (max-width: 690px) {
                    font-size: 1.2rem;
                   }

            }
        }
    }
   }
   .hr-line-aboutUs{
    color: #FFAA4C;
    border: 2px solid #FFAA4C;
   }
   .bot-aboutUS{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    @media screen and (max-width: 800px) {
        justify-content: space-between;
       }


    .states-aboutUs {
        text-align: center;
        .state-number{
            font-size: 1.5rem;
            margin: 0;
            padding: 0;
            color: #001E6C;
            font-weight: bold;
            @media screen and (max-width: 690px) {
                font-size: 1.2rem;
               }
               @media screen and (max-width: 550px) {
                font-size: 1rem;
               }
        }
        .state-text{
            font-size: 1.5rem;
            margin: 0;
            padding: 0;
            color: #035397;
            @media screen and (max-width: 690px) {
                font-size: 1.2rem;
               }
               @media screen and (max-width: 550px) {
                font-size: 1rem;
               }
        }
    }
   }
}