.header{
    display: flex;
    margin-top: 2vh;
    justify-content: space-around;
    align-items: baseline;
    .Logo{
        img{
            object-fit: contain;
            @media screen and (max-width: 768px) {
                width: 150px;
               }
               @media screen and (max-width: 600px) {
                width: 100px;
               }
        }
    }
    .Des-Menu{
        font-size: 1.7rem;
        display: flex;
        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
           }
        .link{
            margin: 0 2vw;
            list-style: none;
            text-decoration: none;
            color: #5089C6;
            
        }
    }
}
.underlined-link{
    border-bottom: 2px solid #FFAA4C;
}